@charset 'UTF-8';

/*Gerais*/
body{
    font: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #6d6875;
    font-size: 14px;
}

/*Barra de navegação*/
header, .navbar {
    background-color:#b5838d;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 75px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: white;
}

#navbar-links a{
    color: white;
}

.navbar-expand-lg .navbar-nav .navbar-links{
    padding: 1rem .8rem;
}

/*Slider*/

.container-fluid {
    padding:0;
}

#mainSlider .carousel-inner, #mainSlider .carousel.item{
    height: 90vh;
}

#mainSlider .carousel-caption{
    top:30%
}

#mainSlider .carousel-caption h2 {
    font-size: 60px;
    margin-bottom: 30px;
    color: white;
}

#mainSlider .carousel-caption p{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 100px;
    color: black;
}

/* #mainSlider .carousel-caption .cor01{
    color:#ffb4c3;
    /* font-weight: bold; 
} */

.main-btn{
    background-color: #e5989b;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color:white;
    background-color: transparent;
    border-color: #e5989b;
}

.carousel-indicators .active{
    background-color: #e5989b;
}

/*Sobre a empresa*/

#about-area{
    background-color: #f9f9f9;
}

.main-title{
    color: #b5838d;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{ /*Para fazer o traço embaixo do título*/
    content: "";
    border-top: 2px solid #b5838d;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #b5838d;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color:#e5989b;
    margin-right: 15px;
}

/*Serviços*/

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #6d6875;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4{
    color: #e5989b;
}

/*Dados*/

.circle-box div{
    padding: 0 40px;
}

.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: white;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}



/*Colaboradores*/

.card-body{
    text-align: center;
}

/*Trabalhe conosco*/

#apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 70px 50px;
    height: 100%;
}

#company-img{
    background-image: url(img/parallax.jpg);
    background-size: cover;
    height: 100%;
}

#pattern-img p{
    color: white;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #e5989b;
}

#pattern-img p{
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#apply-btn:hover{
    color: #e5989b;
}

/*Nossos projetos*/

.project-box{
    margin-bottom: 50px;
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area .filter-btn{
    color:white;
    border: 1px solid #E5989B;
    background-color: #E5989B;
    text-transform: none;
    min-width: 100px;
    margin: 0 15px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.project-box img{
    width: 100%;
    height: 100%;
}

#portfolio-area .filter-btn .active, #portfolio-area .filter-btn:hover{
    color: #E5989B;
    background-color: transparent;
}

/* news letter */

#news-area{
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p{
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #e5989b;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #e5989b;
    background-color:#e5989b;
    text-transform: uppercase;
    color: white;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover{
    background-color: white;
    color: #e5989b;
}

/* Orçamento */

#call-area{
    background-color: #e5989b;
    text-transform: uppercase;
}

#call-area .container{
    padding: 40px 100px;
}

#call-area .row{
    display: block;
    text-align: center;
}

#call-area p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px; /*espaçamento entre as letras*/
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn{
    background-color: white;
    color: #e5989b;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: auto;
    letter-spacing: 2px;
}

/*Footer*/

#contact-area {
    text-align: center;
}

.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #e5989b;
}

.contact-box i{
    color: #6d6875;
    border: solid 1px #e5989b;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p{
    font-size: 16px;
}

.contact-title{
    font-weight: bold;
    color: #e5989b;
}

#msg-box p{
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn{
    width: 150px;
    height: 50px;
}

#contact-form .main-btn:hover{
    color: #e5989b;
}

/*Copy*/

#copy-area .container{
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p{
    margin-bottom: 0;
}

#copy-area .container a{
    font-weight: bold;
    color: #6d6875;
}

/*Responsividade*/
@media(max-width: 768px){
    /*Geral*/
    .container {
        padding: 20px 0
        }

    /*Slides*/
    #mainSlider .carousel-inner, #mainSlider .carousel.item{
        height: auto;
    }
   
    #mainSlider .carousel-caption h2{
        font-size: 28px;
    }
   
    #mainSlider .carousel-caption p{
        font-size: 18px;
        margin-bottom: 40px;
    }
   
    .carousel-caption{
        left: 10%;
        right: 10px;
    }

    /*about*/
    #about-area img{
        margin-top: 90px;
    }

    /*data*/
    .circle-box div{
        padding: 0 10px;
    }

    #data-area p{
        font-size: 16px;
    }

    /*time*/
    .card-title{
        font-size: 14px;
    }

    .card-text{
        font-size: 14px;
    }

    /* apply */
    #apply-area .apply-box{
        padding: 50px 25px;
    }

    /*news*/
    #news-area p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #email-input {
        width: 70%;
    }

    #call-area {
        margin-top: 30px;
    }

    #call-area .container {
        padding: 30px;
    }

    #call-area p, #call-area #call-btn{
        font-size: 16px;
    }
}

@media(max-width: 425px){
    /*Slide*/

    #mainSlider{
        margin-top: 90px;
    }

    #mainSlider .carousel-caption{
        top: 5%;
    }

    #mainSlider .carousel-caption h2{
        font-size: 18px;
        margin-bottom: 56px;
        margin-top: 63px;
    }

    #mainSlider .carousel-caption p{
        display: none;
    }

    .carousel-caption .main-btn{
        font-size: 14px;
    }

    /*Sobre*/
    .main-title {
        font-size: 30px;
    }

    #about-area img{
        margin-top: 0;
        margin-bottom: 30px;
    }

    /*Data*/
    .circle-box{
        width: 50%;
    }

    /*Time*/
    #team-area .col-md-3{
        width: 50%;
        margin-bottom: 30px;
    }

    #apply-area{
        height: auto;
    }

    #company-img{
        display: none;
    }

    /*filter*/
    #portfolio-area .filter-btn{
        margin-bottom: 20px;
    }

    .project-box{
        width: 50%;
    }

    /* news */

    #news-area .main-title{
        font-size: 24px;
    }

    #news-area p{
        font-size: 16px;
    }

    #email-input{
        width: 80%;
    }

    /*Orçamento*/
    #call-area p, #call-area #call-btn{
        font-size: 14px;
        letter-spacing: 0;
        margin: 0;
        width: 50%;
    }

    /*Contato*/
    .contact-box{
        border: none;
        margin-bottom: 0;
    }
}
    